# Why are Telco's Customers Churning? 
## A Root Cause Analysis

### Sean Oslin

## Project planning phase

### Project goal/research question

### Deliverables

1. Jupyter notebook where your work takes place

2. CSV file that predicts churn for each customer

3. Python script that prepares data such that it can be fed into your model

4. Google slide summarizing your model

5. README.md file that contains a link to your google slides presentation, and instructions for how to use your python script(s)

### Minimum viable product

### Null and alternative hypotheses

H<sub>0</sub>:  Telco's data cannot provide any discernable causes for client churn

H<sub>a</sub>:  Reasons for client churn can be elucidated from Telco's data

### Python libraries used for analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression 
from sklearn.linear_model import LinearRegression
from math import sqrt
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import warnings
warnings.filterwarnings("ignore")
from scipy import stats

### Python programming for this analysis imported from a text editor

In [2]:
import env
import wrangle_telco

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 27 columns):
customer_id                 7032 non-null object
gender                      7032 non-null object
senior_citizen              7032 non-null int64
partner                     7032 non-null object
dependents                  7032 non-null object
tenure                      7032 non-null int64
phone_service               7032 non-null object
multiple_lines              7032 non-null object
internet_service_type_id    7032 non-null int64
online_security             7032 non-null object
online_backup               7032 non-null object
device_protection           7032 non-null object
tech_support                7032 non-null object
streaming_tv                7032 non-null object
streaming_movies            7032 non-null object
contract_type_id            7032 non-null int64
paperless_billing           7032 non-null object
payment_type_id             7032 non-null int64
monthly_charges             7032 non-null float64
total_charges               7032 non-null object
churn                       7032 non-null object
contract_type_id            7032 non-null int64
contract_type               7032 non-null object
internet_service_type_id    7032 non-null int64
internet_service_type       7032 non-null object
payment_type_id             7032 non-null int64
payment_type                7032 non-null object
dtypes: float64(1), int64(8), object(18)
memory usage: 1.4+ MB

### Import prepared Telco data from the text editor to this notebook

In [3]:
df_t = wrangle_telco.wrangle_telco()

In [4]:
pd.set_option('display.max_columns', None) #prevents 'head' from truncated the number of columns

In [5]:
df_t.head(5)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,48.20,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
1,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,No,No,No,No,No,1,Yes,1,25.10,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
2,0067-DKWBL,Male,1,No,No,2,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,49.25,91.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
3,0096-BXERS,Female,0,Yes,No,6,Yes,Yes,1,No,No,No,No,No,No,1,No,1,50.35,314.55,No,1,Month-to-month,1,DSL,1,Electronic check
4,0156-FVPTA,Male,0,Yes,No,22,Yes,No,1,Yes,No,No,Yes,No,No,1,Yes,1,54.20,1152.7,Yes,1,Month-to-month,1,DSL,1,Electronic check

## First glance at data to assess data structure changes needed before analysis

In [6]:
wrangle_telco.peekatdata(df_t)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 27 columns):
customer_id                 7032 non-null object
gender                      7032 non-null object
senior_citizen              7032 non-null int64
partner                     7032 non-null object
dependents                  7032 non-null object
tenure                      7032 non-null int64
phone_service               7032 non-null object
multiple_lines              7032 non-null object
internet_service_type_id    7032 non-null int64
online_security             7032 non-null object
online_backup               7032 non-null object
device_protection           7032 non-null object
tech_support                7032 non-null object
streaming_tv                7032 non-null object
streaming_movies            7032 non-null object
contract_type_id            7032 non-null int64
paperless_billing           7032 non-null object
payment_type_id             7032 non-null int64
monthly_charges             7032 non-null float64
total_charges               7032 non-null object
churn                       7032 non-null object
contract_type_id            7032 non-null int64
contract_type               7032 non-null object
internet_service_type_id    7032 non-null int64
internet_service_type       7032 non-null object
payment_type_id             7032 non-null int64
payment_type                7032 non-null object
dtypes: float64(1), int64(8), object(18)
memory usage: 1.4+ MB

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,contract_type_id,contract_type,internet_service_type_id,internet_service_type,payment_type_id,payment_type
0,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,48.20,340.35,No,1,Month-to-month,1,DSL,1,Electronic check
1,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,No,No,No,No,No,1,Yes,1,25.10,25.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
2,0067-DKWBL,Male,1,No,No,2,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,49.25,91.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
3,0096-BXERS,Female,0,Yes,No,6,Yes,Yes,1,No,No,No,No,No,No,1,No,1,50.35,314.55,No,1,Month-to-month,1,DSL,1,Electronic check
4,0156-FVPTA,Male,0,Yes,No,22,Yes,No,1,Yes,No,No,Yes,No,No,1,Yes,1,54.20,1152.7,Yes,1,Month-to-month,1,DSL,1,Electronic check
5,0191-ZHSKZ,Male,1,No,No,30,Yes,No,1,Yes,Yes,No,No,Yes,Yes,1,Yes,1,74.75,2111.3,No,1,Month-to-month,1,DSL,1,Electronic check
6,0212-ISBBF,Female,0,No,No,22,No,No phone service,1,No,Yes,No,No,Yes,Yes,1,Yes,1,50.35,1098.85,No,1,Month-to-month,1,DSL,1,Electronic check
7,0224-HJAPT,Male,0,No,No,5,Yes,Yes,1,No,No,No,No,No,No,1,No,1,47.15,223.15,Yes,1,Month-to-month,1,DSL,1,Electronic check
8,0224-RLWWD,Female,1,No,No,2,Yes,No,1,No,No,No,No,No,No,1,Yes,1,44.30,89.3,No,1,Month-to-month,1,DSL,1,Electronic check
9,0228-MAUWC,Male,0,No,No,19,Yes,Yes,1,No,No,Yes,Yes,No,No,1,No,1,59.55,1144.6,No,1,Month-to-month,1,DSL,1,Electronic check
10,0248-IPDFW,Female,0,No,No,1,Yes,Yes,1,No,No,No,No,No,No,1,Yes,1,50.10,50.1,No,1,Month-to-month,1,DSL,1,Electronic check
11,0277-BKSQP,Male,0,Yes,Yes,8,Yes,No,1,No,No,No,No,Yes,No,1,Yes,1,54.40,475.1,No,1,Month-to-month,1,DSL,1,Electronic check
12,0289-IVARM,Female,0,No,No,35,Yes,No,1,Yes,Yes,Yes,No,No,No,1,No,1,60.55,1982.6,No,1,Month-to-month,1,DSL,1,Electronic check
13,0292-WEGCH,Female,0,Yes,Yes,54,Yes,Yes,1,No,Yes,Yes,Yes,Yes,Yes,1,Yes,1,86.20,4524.05,No,1,Month-to-month,1,DSL,1,Electronic check
14,0311-QYWSS,Female,0,No,No,6,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,49.45,314.6,No,1,Month-to-month,1,DSL,1,Electronic check
15,0322-CHQRU,Male,0,No,No,2,Yes,No,1,No,No,No,No,No,No,1,No,1,45.35,89.5,Yes,1,Month-to-month,1,DSL,1,Electronic check
16,0374-AACSZ,Female,0,No,No,1,Yes,No,1,Yes,No,No,No,No,No,1,No,1,50.15,50.15,No,1,Month-to-month,1,DSL,1,Electronic check
17,0374-IOEGQ,Female,0,No,No,3,Yes,No,1,No,No,No,No,No,No,1,No,1,44.60,122.7,No,1,Month-to-month,1,DSL,1,Electronic check
18,0375-HVGXO,Female,0,No,No,1,No,No phone service,1,No,No,No,No,Yes,No,1,Yes,1,34.70,34.7,Yes,1,Month-to-month,1,DSL,1,Electronic check
19,0411-EZJZE,Female,0,No,No,3,Yes,Yes,1,No,No,No,No,Yes,No,1,Yes,1,60.25,170.5,No,1,Month-to-month,1,DSL,1,Electronic check
20,0430-IHCDJ,Male,0,No,No,15,Yes,Yes,1,No,No,No,No,No,No,1,Yes,1,49.00,749.25,No,1,Month-to-month,1,DSL,1,Electronic check
21,0516-WJVXC,Female,0,No,No,5,Yes,No,1,Yes,No,No,Yes,No,No,1,No,1,54.20,308.25,Yes,1,Month-to-month,1,DSL,1,Electronic check
22,0523-VNGTF,Female,1,No,No,52,No,No phone service,1,No,Yes,Yes,Yes,Yes,No,1,Yes,1,50.50,2566.3,No,1,Month-to-month,1,DSL,1,Electronic check
23,0567-GGCAC,Female,0,No,No,7,Yes,No,1,Yes,Yes,Yes,No,No,No,1,No,1,61.40,438.9,No,1,Month-to-month,1,DSL,1,Electronic check
24,0587-DMGBH,Female,0,No,No,8,Yes,No,1,Yes,No,No,No,No,No,1,Yes,1,49.85,365.55,Yes,1,Month-to-month,1,DSL,1,Electronic check
25,0601-WZHJF,Male,0,Yes,No,14,No,No phone service,1,No,No,No,No,Yes,Yes,1,No,1,46.35,667.7,Yes,1,Month-to-month,1,DSL,1,Electronic check
26,0612-RTZZA,Female,1,No,No,1,No,No phone service,1,No,No,No,No,No,No,1,No,1,25.25,25.25,Yes,1,Month-to-month,1,DSL,1,Electronic check
27,0616-ATFGB,Male,1,Yes,No,1,No,No phone service,1,No,No,No,No,No,No,1,No,1,25.05,25.05,Yes,1,Month-to-month,1,DSL,1,Electronic check
28,0621-TWIEM,Male,0,No,No,10,Yes,No,1,No,No,No,No,No,No,1,Yes,1,45.55,402.6,Yes,1,Month-to-month,1,DSL,1,Electronic check
29,0623-IIHUG,Female,1,No,No,21,No,No phone service,1,Yes,No,No,No,Yes,No,1,Yes,1,41.90,840.1,Yes,1,Month-to-month,1,DSL,1,Electronic check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7002,8434-VGEQQ,Male,0,Yes,Yes,61,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,20.55,1305.95,No,3,Two year,3,None,4,Credit card (automatic)
7003,8464-EETCQ,Male,0,No,No,57,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,18.80,1094.35,No,3,Two year,3,None,4,Credit card (automatic)
7004,8515-OCTJS,Female,0,No,No,25,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,24.75,692.1,Yes,3,Two year,3,None,4,Credit card (automatic)
7005,8540-ZQGEA,Female,0,Yes,No,54,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,20.05,1102.4,No,3,Two year,3,None,4,Credit card (automatic)
7006,8606-OEGQZ,Female,0,No,Yes,18,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,25.30,454.65,No,3,Two year,3,None,4,Credit card (automatic)
7007,8749-TZYEC,Male,0,Yes,No,72,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,24.80,1874.3,No,3,Two year,3,None,4,Credit card (automatic)
7008,8780-IHCRN,Male,0,Yes,Yes,63,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,24.65,1574.5,No,3,Two year,3,None,4,Credit card (automatic)
7009,8807-OPMBM,Female,0,Yes,Yes,55,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,25.65,1388,No,3,Two year,3,None,4,Credit card (automatic)
7010,8908-SLFCJ,Female,0,No,No,21,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,20.85,435.25,No,3,Two year,3,None,4,Credit card (automatic)
7011,8917-SZTTJ,Male,0,Yes,Yes,60,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,19.65,1161.75,No,3,Two year,3,None,4,Credit card (automatic)
7012,8957-THMOA,Female,0,No,Yes,50,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,20.15,970.85,No,3,Two year,3,None,4,Credit card (automatic)
7013,8966-KZXXA,Male,0,Yes,Yes,36,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,25.10,930.95,No,3,Two year,3,None,4,Credit card (automatic)
7014,9081-WWXKP,Female,0,Yes,Yes,47,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,20.25,873.4,No,3,Two year,3,None,4,Credit card (automatic)
7015,9108-EQPNQ,Female,0,Yes,Yes,10,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,26.10,225.55,No,3,Two year,3,None,4,Credit card (automatic)
7016,9150-KPBJQ,Female,0,No,No,6,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,19.65,116.85,No,3,Two year,3,None,4,Credit card (automatic)
7017,9337-SRRNI,Male,0,No,Yes,66,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,25.30,1673.8,No,3,Two year,3,None,4,Credit card (automatic)
7018,9350-ZXYJC,Female,0,No,No,4,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,25.30,116.95,No,3,Two year,3,None,4,Credit card (automatic)
7019,9397-TZSHA,Female,0,No,No,69,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,24.60,1678.05,No,3,Two year,3,None,4,Credit card (automatic)
7020,9430-NKQLY,Male,0,Yes,Yes,72,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,25.10,1790.8,No,3,Two year,3,None,4,Credit card (automatic)
7021,9588-YRFHY,Male,0,No,No,49,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,19.90,1022.6,No,3,Two year,3,None,4,Credit card (automatic)
7022,9648-BCHKM,Female,0,Yes,Yes,18,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,24.65,471.35,No,3,Two year,3,None,4,Credit card (automatic)
7023,9650-VBUOG,Male,0,Yes,Yes,38,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,25.05,963.95,No,3,Two year,3,None,4,Credit card (automatic)
7024,9661-JALZV,Female,0,No,No,58,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,24.70,1519,No,3,Two year,3,None,4,Credit card (automatic)
7025,9717-IOAAF,Male,0,No,Yes,27,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,25.85,788.55,No,3,Two year,3,None,4,Credit card (automatic)
7026,9800-OUIGR,Male,0,Yes,Yes,66,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,20.00,1374.2,No,3,Two year,3,None,4,Credit card (automatic)
7027,9814-AOUDH,Male,0,No,No,53,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,19.50,1050.5,No,3,Two year,3,None,4,Credit card (automatic)
7028,9916-AYHTC,Male,0,No,No,48,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,19.85,916,No,3,Two year,3,None,4,Credit card (automatic)
7029,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,20.30,487.95,No,3,Two year,3,None,4,Credit card (automatic)
7030,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,Yes,4,24.40,1725.4,No,3,Two year,3,None,4,Credit card (automatic)
7031,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,3,No,4,19.75,856.5,No,3,Two year,3,None,4,Credit card (automatic)

### Remove duplicate columns

In [7]:
df_t = df_t.loc[:,~df_t.columns.duplicated()]

In [8]:
cols = df_t.columns.tolist() #3 columns used for data join have been eliminated
print(cols, end = " ")

['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service', 'multiple_lines', 'internet_service_type_id', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'contract_type_id', 'paperless_billing', 'payment_type_id', 'monthly_charges', 'total_charges', 'churn', 'contract_type', 'internet_service_type', 'payment_type']

### Check for duplicate customer ID numbers

In [9]:
duplicateRowsDF = df_t[df_t.duplicated(['customer_id'])]
duplicateRowsDF.head()

Empty DataFrame
Columns: [customer_id, gender, senior_citizen, partner, dependents, tenure, phone_service, multiple_lines, internet_service_type_id, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, contract_type_id, paperless_billing, payment_type_id, monthly_charges, total_charges, churn, contract_type, internet_service_type, payment_type]
Index: []

### Reorder columns so ID number preceeds the description

In [10]:
df_t = df_t[['customer_id',
 'gender','senior_citizen','partner','dependents','tenure','phone_service','multiple_lines','internet_service_type_id',\
             'internet_service_type','online_security','online_backup','device_protection','tech_support',\
             'streaming_tv','streaming_movies','contract_type_id','contract_type', 'paperless_billing',\
             'payment_type_id','payment_type','monthly_charges','total_charges','churn']]

### Convert yes/no and female/male variables to binary (0,1)

In [11]:
df_t.replace(to_replace=['No', 'Yes'], value=[0, 1], inplace = True)

In [12]:
df_t.replace(to_replace=['No phone service'], value=[0], inplace = True) #convert 'No phone service to 0'

In [13]:
df_t.replace(to_replace=['Female', 'Male'], value=[0, 1], inplace = True)

In [14]:
df_t.replace(to_replace=['No internet service'], value=[0], inplace = True)

In [15]:
df_t.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,internet_service_type,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,contract_type,paperless_billing,payment_type_id,payment_type,monthly_charges,total_charges,churn
0,0015-UOCOJ,0,1,0,0,7,1,0,1,DSL,1,0,0,0,0,0,1,Month-to-month,1,1,Electronic check,48.20,340.35,0
1,0023-HGHWL,1,1,0,0,1,0,0,1,DSL,0,0,0,0,0,0,1,Month-to-month,1,1,Electronic check,25.10,25.1,1
2,0067-DKWBL,1,1,0,0,2,1,0,1,DSL,1,0,0,0,0,0,1,Month-to-month,1,1,Electronic check,49.25,91.1,1
3,0096-BXERS,0,0,1,0,6,1,1,1,DSL,0,0,0,0,0,0,1,Month-to-month,0,1,Electronic check,50.35,314.55,0
4,0156-FVPTA,1,0,1,0,22,1,0,1,DSL,1,0,0,1,0,0,1,Month-to-month,1,1,Electronic check,54.20,1152.7,1

### Remove null values - all null values removed in MySQL

### Data types adjusted to best suit each variable

In [19]:
df_t['total_charges'] = pd.to_numeric(df_t['total_charges'], errors='coerce')

In [20]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 24 columns):
customer_id                 7032 non-null object
gender                      7032 non-null int64
senior_citizen              7032 non-null int64
partner                     7032 non-null int64
dependents                  7032 non-null int64
tenure                      7032 non-null int64
phone_service               7032 non-null int64
multiple_lines              7032 non-null int64
internet_service_type_id    7032 non-null int64
internet_service_type       7032 non-null object
online_security             7032 non-null int64
online_backup               7032 non-null int64
device_protection           7032 non-null int64
tech_support                7032 non-null int64
streaming_tv                7032 non-null int64
streaming_movies            7032 non-null int64
contract_type_id            7032 non-null int64
contract_type               7032 non-null object
paperless_billing           7032 non-null int64
payment_type_id             7032 non-null int64
payment_type                7032 non-null object
monthly_charges             7032 non-null float64
total_charges               7032 non-null float64
churn                       7032 non-null int64
dtypes: float64(2), int64(18), object(4)
memory usage: 1.3+ MB